.topheader{
    box-shadow: var(--color-sombra-barra);
    position: fixed;
    background-color: var(--tema-color);
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 100;
}
.topnav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}
.light-mode-btn, .dark-mode-btn{
    border: none;
    padding: 0px;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
:root[data-theme="light"] .light-mode-btn{
    display:none;
}
:root[data-theme="dark"] .dark-mode-btn{
    display: none;
}
/*Logo*/
.logo{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--acento-color);
    margin-right: auto;
}
.logo img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
/*Menu*/
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    padding: 0px 15px;
}
.menu a{
    color: var(--color-texto);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
}
.menu a::after{
        content: "";
        background-color: var(--color-secundario);
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 4px;
        opacity: 0;
        transition: opacity 0.3s;
}
.menu a.selected::after{
    opacity: 0.8;

}
.menu a:hover{
    color: var(--acento-color);
}
.open-menu, .close-menu{
    display: none;
}
@media (max-width: 950px){
/*Menu*/
.menu{
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    align-items: center;
    background-color: var(--color-fondo-menu-mobil);
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}
.menu li{
    padding: 0px;
}
.menu a{
    color: var(--color-texto-invertido);
    line-height: 70px;
    font-size: 25px;
}
.open-menu, .close-menu{
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-texto);    
}
.close-menu{
    align-self: flex-end;
    padding: 29px 16px;

}
.menu-opened{
    opacity: 1;
    pointer-events: all;
}
.open-menu:focus:not(:focus-visible),
.close-menu:focus:not(:focus-visible){
    outline: none;
    }
    .menu a::after{
        content: none;    
    }
    .menu a:hover,.menu a.selected{
        color: var(--color-secundario);
    }

}
