.skill{
    max-width: 980px;
    margin: 0 auto;
}
.skill-title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.skill-skill{
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
}
.skill-list{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width:950px){
    .skill-title{
        font-size: 50px;
    }
    .skill-skill{
        font-size: 30px;
        margin: 20px;
    }
}