:root{
    --tema-color:white;
    --color-primario: #124f88;
    --color-secundario: #f02a08;
    --color-texto-invertido:white;
    --color-texto:black;
    --color-sombra-barra:#e5e5e5;
    --color-fondo-menu-mobil:#3A4460;
}
html{
    scroll-behavior: smooth;
}
section[id]{
    scroll-margin-top: 80px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--tema-color);
    color: var(--color-texto);
    padding-top: 70px;
}
a{
    text-decoration: none;
    color: var(--color-texto);
}
.vertical-padding{
    padding-top: 5px;
    padding-bottom: 5px;
}
.horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
}
@media (min-width: 950px){
    .vertical-padding{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .horizontal-padding{
        padding-left: 70px;
        padding-right: 70px;
    }
}
