:root{
    --tema-color:white;
    --color-primario: #124f88;
    --color-secundario: #f02a08;
    --color-texto-invertido:white;
    --color-texto:black;
    --color-sombra-barra:0px 2px #e5e5e5;
    --color-fondo-menu-mobil:#3A4460;
    --acento-color:var(--color-primario);
    --color-primario-invertido:black;
    --transition: 0.2s ease-in-out;
    --tag-shadow: 0 0 3px 3px #5e5e5e;
    color-scheme: light;


}
/*@media (prefers-color-scheme: dark){*/
    :root[data-theme="dark"]{
        --tema-color:#0f112a;
        --color-primario: #585d64;
        --color-secundario: #9dc8db;
        --color-texto-invertido:var(--color-texto);
        --color-texto: rgba(255, 255, 255, 0.87);
        --color-sombra-barra:0px 2px rgba(51, 65, 85, 0.8);
        --color-fondo-menu-mobil:#18213e;
        --acento-color:var(--color-secundario);
        --tag-shadow: 0 0 0 1px #FFFFFF;
        color-scheme: dark;
    }
/*}*/
form{
    color-scheme: light;
}
*{
    transition: background-color var(--transition), box-shadow var(--transition);
}
svg{
    transition: color var(--transition);
}

html{
    scroll-behavior: smooth;
}
section[id]{
    scroll-margin-top: 80px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--tema-color);
    color: var(--color-texto);
    padding-top: 70px;
}
a{
    text-decoration: none;
    color: var(--color-texto);
}
.vertical-padding{
    padding-top: 5px;
    padding-bottom: 5px;
}
.horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
}
footer{
    position: relative;
    width: 100%;
    height: 100px;
    background: var(--color-primario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p{
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
    margin: 0 auto;
    text-align: center;
    color: var(--color-texto-invertido);
}
.final{
    position: absolute;
    color: var(--color-secundario);
    bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
}
@media (min-width: 950px){
    .vertical-padding{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .horizontal-padding{
        padding-left: 70px;
        padding-right: 70px;
    }
}
